ATS_URL=http://localhost/api
#ATS_TOKEN=your_token_here
#ATS_WORKQUEUE_OVERRIDE=1
#EXCEL_MAPPING_PATH= -------//  Indsæt Excel Data Her   //-------
#WORD_TEMPLATE_PATH= -------//  Indsæt Word Brev Her    //-------

